<ion-view view-title="About">
  <ion-content>
    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>



     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="contact in contacts"
        <h2>{{contact}}</h2>


      </ion-item>
    </ion-list> -->

    <!-- <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Suhr">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
    </div>
    <div class="padding">
        <button class="button button-block button-assertive">Create Account</button> -->

        <div class="item range assertive">
          <i class="ion-android-notifications-off"></i>
          <input type="range" class="assertive" name="volume">
          <i class="ion-android-notifications"></i>
        </div>


        </div>

        <ul class="list">

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
            Business News
          </li>
          <li class="item item-checkbox ">
             <label class="checkbox ">
               <input type="checkbox"  checked="checked">
             </label>
            Entertainment News <span class="badge badge-assertive">17</span>
          </li>
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" >
             </label>
             Health News
          </li>
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             National News
          </li>
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Sports News
          </li>
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
          World News

          </li>
        






        </ul>






      </div>

  </ion-content>
</ion-view>
